{% extends 'tapasapp/base.html' %}
{% load static %}

{% block sidemenu %}
<!-- back to main -->
<div class="col-md-5">
    <div class="side-menu">
        <ul>
            <li><a href="{% url 'view_menu' %}">Back to Main</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="col-md-8">
    <h3>Type in Dish Details:</h3>
    <form>
        <!-- dish name -->
        <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" id="name" name="name" class="form-control" required>
        </div>

        <!-- cooking time -->
        <div class="mb-3">
            <label for="cook_time" class="form-label">Cook Time:</label>
            <input type="text" id="cook_time" name="cook_time" class="form-control" required>
        </div>

        <!-- prep time -->
        <div class="mb-3">
            <label for="prep_time" class="form-label">Prep Time:</label>
            <input type="text" id="prep_time" name="prep_time" class="form-control" required>
        </div>

        <!-- submit button -->
        <button type="submit" class="btn btn-primary">Add to Dishes</button>
    </form>
</div>
{% endblock %}