{% extends 'MyInventoryApp/base.html' %}

{% block content %}
    <h2>List of Water Bottles</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>sku</th>
                <th>brand</th>
                <th>cost</th>
                <th>size</th>
                <th>mouth_size</th>
                <th>color</th>
                <th>supplied_by</th>
                <th>current_quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for waterbottle in waterbottles %}
                <tr>
                    <td>{{ waterbottle.sku }}</td>
                    <td>{{ waterbottle.brand }}</td>
                    <td>{{ waterbottle.cost }}</td>
                    <td>{{ waterbottle.size }}</td>
                    <td>{{ waterbottle.mouth_size }}</td>
                    <td>{{ waterbottle.color }}</td>
                    <td>{{ waterbottle.supplied_by }}</td>
                    <td>{{ waterbottle.current_quantity }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}