{% extends 'MyInventoryApp/base.html' %}

{% block content %}
    <h2>List of Water Bottles</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Sku</th>
                <th>Brand</th>
                <th>Cost</th>
                <th>Size</th>
                <th>Mouth Size</th>
                <th>Color</th>
                <th>Supplied By</th>
                <th>Current Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for waterbottle in waterbottles %}
                <tr>
                    <td>{{ waterbottle.sku }}</td>
                    <td>{{ waterbottle.brand }}</td>
                    <td>{{ waterbottle.cost }}</td>
                    <td>{{ waterbottle.size }}</td>
                    <td>{{ waterbottle.mouth_size }}</td>
                    <td>{{ waterbottle.color }}</td>
                    <td>{{ waterbottle.supplied_by }}</td>
                    <td>{{ waterbottle.current_quantity }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}